# AirBnB NY Locations Data Case Study

In this final project, you task will be to take the data provided and find evidance to answer the following questions.

1. Which hosts are the busiest and why?
2. How many neighborhood groups are available and which shows up the most?
3. Are private rooms the most popular in manhattan?
4. Which hosts are the busiest and based on their reviews?
5. Which neighorhood group has the highest average price?
6. Which neighborhood group has the highest total price?
7. Which top 5 hosts have the highest total price?
8. Who currently has no (zero) availability with a review count of 100 or more?
9. What host has the highest total of prices and where are they located?
10. When did Danielle from Queens last receive a review?

You will be given **4 hours** to complete this assignment. 
**Be Advised** I will go dark for this intire assignment time period. That said, any questions that you would like to ask about the data, or the project **MUST** be asked before the time starts. Once the time has started, I can no longer give information.

This is to similate what you will face when you are out in the wild. 

Happy Coding!

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
air_bnb = pd.read_csv('AB_NYC_2019 - AB_NYC_2019.csv')

air_bnb.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [223]:
#Which hosts are the busiest and why?

air_bnb['host_name'].value_counts()

# Michael, David ,Sonder (NYC), John, Alex are the most busy hosts since they are frequently involving as it is proofed using value_counts

host_name
Michael              417
David                403
Sonder (NYC)         327
John                 294
Alex                 279
                    ...
Rhonycs                1
Brandy-Courtney        1
Shanthony              1
Aurore And Jamila      1
Ilgar & Aysel          1
Name: count, Length: 11452, dtype: int64

In [18]:
#How many neighborhood groups are available and which shows up the most?
air_bnb['neighbourhood_group'].value_counts()

neighbourhood_group
Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: count, dtype: int64

In [67]:
# Are private rooms the most popular in manhattan?
air_bnb.groupby(['neighbourhood_group','room_type'])['neighbourhood_group'].count()['Manhattan'] 

# The Entire hom/apt is the most popular in manhattan

room_type
Entire home/apt    13199
Private room        7982
Shared room          480
Name: neighbourhood_group, dtype: int64

In [55]:
# Which hosts are the busiest and based on their reviews?
air_bnb.groupby(['host_name'])['number_of_reviews'].max()

host_name
(Ari) HENRY LEE               3
(Email hidden by Airbnb)     60
(Mary) Haiy                 188
-TheQueensCornerLot          51
123                           0
                           ...
단비                            0
빈나                            1
소정                            1
진                             0
현선                            0
Name: number_of_reviews, Length: 11452, dtype: int64

In [70]:
#Which neighorhood group has the highest average price?
air_bnb.groupby(['neighbourhood_group'])['price'].agg(['mean'])

#'Manhattan' has the highest average price

                           mean
neighbourhood_group
Bronx                 87.496792
Brooklyn             124.383207
Manhattan            196.875814
Queens                99.517649
Staten Island        114.812332

In [71]:
# Which neighbor hood group has the highest total price?
air_bnb.groupby(['neighbourhood_group'])['price'].max()

neighbourhood_group
Bronx             2500
Brooklyn         10000
Manhattan        10000
Queens           10000
Staten Island     5000
Name: price, dtype: int64

In [78]:
#Which top 5 hosts have the highest total price?
air_bnb.groupby(['host_name','price'])['price'].max()

host_name                 price
(Ari) HENRY LEE           140       140
(Email hidden by Airbnb)  90         90
                          120       120
                          139       139
                          200       200
                                   ...
빈나                        125       125
소정                        40         40
                          63         63
진                         70         70
현선                        1200     1200
Name: price, Length: 37310, dtype: int64

In [240]:
# Who currently has no (zero) availability with a review count of 100 or more?['availability_365'== 0]['number_of_reviews' >= 0]]

# Reviwe=(Dan['neighbourhood_group']== 'Queens' )
# Dan[Reviwe]['last_review']

AirB_host=air_bnb.set_index(['host_name'])
#A
availability=(AirB_host['availability_365'] == 0) 
Review= (AirB_host[availability]['number_of_reviews'] >= 100)
Result= AirB_host[availability][Review]
#Result
print(Result['number_of_reviews'])
print(Result['availability_365'])

host_name
MaryEllen     118
Christiana    168
Sol           193
Coral         114
Doug          206
             ...
Kathleen      103
Janet         119
Albert        102
Stephany      131
Mariluz       112
Name: number_of_reviews, Length: 162, dtype: int64
host_name
MaryEllen     0
Christiana    0
Sol           0
Coral         0
Doug          0
             ..
Kathleen      0
Janet         0
Albert        0
Stephany      0
Mariluz       0
Name: availability_365, Length: 162, dtype: int64

In [85]:
# What host has the highest total of prices and where are they located?
#air_bnb['host_name'].max(['price'])
air_bnb.groupby(['host_name','price','neighbourhood_group'])['price'].max()

host_name                 price  neighbourhood_group
(Ari) HENRY LEE           140    Manhattan               140
(Email hidden by Airbnb)  90     Manhattan                90
                          120    Brooklyn                120
                          139    Manhattan               139
                          200    Manhattan               200
                                                        ...
빈나                        125    Manhattan               125
소정                        40     Brooklyn                 40
                          63     Manhattan                63
진                         70     Manhattan                70
현선                        1200   Manhattan              1200
Name: price, Length: 40619, dtype: int64

In [200]:
# When did Danielle from Queens last receive a review?


#air_bnb['host_name','neighbourhood_group').loc['Danielle']['Queens']


#air_bnb[air_bnb['host_name'['Danielle']]]
Dan=air_bnb.set_index(['host_name']).loc['Danielle']
Dan
Reviwe=(Dan['neighbourhood_group']== 'Queens' )
Dan[Reviwe]['last_review']
# D_Reviwe
#Daniel.loc[['Danielle'],['Queens','last_review']]

host_name
Danielle    2019-07-03
Danielle           NaN
Danielle    2019-07-06
Danielle    2019-07-07
Danielle    2019-07-06
Danielle    2019-07-08
Danielle    2018-01-02
Danielle    2019-06-20
Name: last_review, dtype: object

## Further Questions

1. Which host has the most listings?

In [239]:
air_bnb.groupby(['host_name'])['calculated_host_listings_count'].agg('max')

host_name
(Ari) HENRY LEE             1
(Email hidden by Airbnb)    2
(Mary) Haiy                 1
-TheQueensCornerLot         1
123                         1
                           ..
단비                          1
빈나                          1
소정                          1
진                           1
현선                          1
Name: calculated_host_listings_count, Length: 11452, dtype: int64

2. How many listings have completely open availability?

In [248]:
AirB_listings=air_bnb.set_index(['calculated_host_listings_count'])
#AirB_listings
Zero_Ava= (AirB_listings['availability_365'] == 0)
AirB_listings[Zero_Ava]['availability_365'].value_counts()

availability_365
0    17533
Name: count, dtype: int64

3. What room_types have the highest review numbers?

In [91]:
air_bnb.groupby(['room_type'])['number_of_reviews'].max()

room_type
Entire home/apt    488
Private room       629
Shared room        454
Name: number_of_reviews, dtype: int64

# Final Conclusion

In this cell, write your final conclusion for each of the questions asked.

Also, if you uncovered some more details that were not asked above, please discribe them here.

-- Add your conclusion --